/*登录页表单*/
.loginform{width: 500px;margin: 100px auto;text-align: center;padding:50px 20px;}
.loginform label{font-size: 15px;margin-right: 5px;}
.loginform .code{width: 24%;height: 30px;}
.loginform .account{width: 50%;height: 30px;}
.loginform .pwd{width: 50%;height: 30px;}

/*搜索表单*/
.searchform{width:;margin: 5px 15px;}
.searchform input{width: 30%;}
/*个人信息表单*/
.userform{width:500px;margin: 50px auto;}
/*表单修饰*/
body{}
.form{width: 500px;margin: 0 auto;}
/*表格宽度*/
.table{margin: 0 15px;width: 98%;}

/*分页修饰*/
.pagination{text-align: center;margin: 15px auto;}
.turninput{height: 18px;width: 30px;color: #808080!important;}
/*订单详情页*/
.orderdetail{margin: 0 15px;width: 98%;}
