<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>登录</title>
		<link rel="stylesheet" href="//g.alicdn.com/sui/sui3/0.0.18/css/sui.min.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/main.css" />
	</head>
	<body>
		<form class="loginform">
		  <div class="form-group">
		    <label for="account">账户</label>
		    <input type="text" class="account" name="account" class="form-control" placeholder="输入账户">
		  </div>
		  <div class="form-group">
		    <label for="pwd">密码</label>
		    <input type="password" class="pwd" name="pwd" class="form-control" placeholder="密码">
		  </div>
		  <div class="form-group">
		    <label for="code">验证码</label>
		    <input type="text" name="code" class="code" class="form-control" placeholder="验证码">
		    <img src="__ROOT__/Index/code" onclick="this.src='__ROOT__/Index/code'+'/'+Math.random()" />
		  </div>
		  <button type="button" class="btn btn-default btn-lg">登录</button>
		</form>
	</body>
	<script type="text/javascript" src="//g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="//g.alicdn.com/sui/sui3/0.0.18/js/sui.min.js"></script>
	<script type="text/javascript">
		$("[type=button]").bind('click',function(){
			var url = "<?php echo U('Home/Index/login');?>";
			var data = {};
			data['account'] = $("input[name=account]").val();
			data['code'] = $("input[name=code]").val();
			data['pwd'] = $("input[name=pwd]").val();
			if(!data['account']){
				alert('请输入用户名');
			}
			if(!data['code']){
				alert('请输入验证码');
			}
			if(!data['pwd']){
				alert('请输入密码');
			}
			$.post(url,data,function(ref){
				console.log(ref);
				alert(ref.message);
				if(ref.code){
					window.location.href = "<?php echo U('Home/index/home')?>";
				}
			},'json');
		});
	</script>
</html>
