<?php 
	$sqlmap =  I('get.');
?>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>订单列表</title>
		<link rel="stylesheet" href="//g.alicdn.com/sui/sui3/0.0.18/css/sui.min.css">
		<link rel="stylesheet" href="__PUBLIC__/static/css/main.css" />
	</head>
	<body>
		<ol class="breadcrumb">
		  <!--<li><a href="#">订单管理</a></li>-->
		  <li class="active">订单列表</li>
		</ol>
		<form class="searchform form-inline" method="get" action="__ROOT__/index.php/Order/orderlist">
		  	<div class="form-group">
			    <label for="code" class="control-label">订单号</label>
			    <input type="text" class="form-control" class="sn" name="sn" placeholder="订单号" value="{$sqlmap.sn}">
			</div>
			<div class="form-group">
			    <label for="name" class="control-label">商户号</label>
			    <input type="text" class="form-control" class="source_id" name="source_id" placeholder="商户号" value="{$sqlmap.source_id}">
			</div>
			<div class="form-group">
			    <label for="name" class="control-label">渠道</label>
			    <select class="form-control" class="channel" name="channel">
			    	<option value="0">全部</option>
			    	<volist name = 'config[orderChannelList]' id='ocl'>
			    		<option value="{$key}">{$ocl}</option>
			    	</volist>
			    </select>
			</div>
			<div class="form-group">
			    <label for="name" class="control-label">接口</label>
			    <select class="form-control" class="event" name="event">
			    	<option value="0">全部</option>
			    	<volist name = 'config[orderEventList]' id='oel'>
			    		<option value="{$key}">{$oel}</option>
			    	</volist>
			    </select>
			</div>
			<div class="form-group input-daterange" data-toggle="datepicker" data-date-start-date='2010-01-01' data-date-end-date='2020-12-31'>
			  	<label for="name" class="control-label">日期范围</label>
			  	<input type="text" class="form-control input-date" class="startdate" name="startdate" placeholder="开始日期"  value='{$sqlmap.startdate}'/> -
			  	<input type="text" class="form-control input-date" class="enddate" name="enddate" placeholder="结束日期" value='{$sqlmap.enddate}'/>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-default">筛选</button>
			</div>
		</form>
		
		<table class="table table-bordered">
		  <thead>
		    <tr>
		      <th>订单号</th>
		      <th>商户号</th>
		      <th>时间</th>
		      <th>价格</th>
		      <th>详细描述</th>
		      <th>操作者IP</th>
		      <th>渠道</th>
		      <th>接口</th>
		      <th>小费</th>
		      <th>操作</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<volist name = 'orderlists' id = 'orderlist'>
		  		<tr>
			      <td>{$orderlist.sn}</td>
			      <td>{$orderlist.source_id}</td>
			      <td>{$orderlist.time|date='Y-m-d H:i:s',###}</td>
			      <td>{$orderlist.money}</td>
			      <td>{$orderlist.msg|msubstr=0,60}</td>
			      <td>{$orderlist.client_ip}</td>
			      <td>{$orderlist.channel}</td>
			      <td>{$orderlist.event}</td>
			      <td>{$orderlist.tips}</td>
			      <td>
			      	<a href='javascript:void()' onclick='orderdetail({$orderlist.id})' class='btn btn-default btn-sm'>详情</a>
			      </td>
			    </tr>
		  	</volist>
		  </tbody>
		</table>
		<!--分页-->
		<nav>
		  <div class="pagination">
		    <ul>
		      <li class="prev">
		        <a href="javascript:void(0)" onclick="javascript:turnpage(this,-1)">上一页</a>
		      </li>
		      <li class="1"><a>当前位于第：{$page} 页</a></li>
		      <li class="next">
		        <a href="javascript:void(0)" onclick="javascript:turnpage(this,0)">下一页</a>
		      </li>
		      <li><a>到：<input class="turninput" type="text"/> 页</a><a href="javascript:void(0)" onclick="javascript:turnpage(this,1)">跳转</a></li>
		      <li><a class="totalpage"></a></li>
		    </ul>
		  </div>
		</nav>
	</body>
	<script type="text/javascript" src="//g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="//g.alicdn.com/sui/sui3/0.0.18/js/sui.min.js"></script>
	<script type="text/javascript">
			//回填筛选条件
			$(function(){
				if("{$sqlmap.channel}"){
					$("select:first [value={$sqlmap.channel}]").attr("selected",true);
				}
				var event = "{$sqlmap.event}";
				if(event){
					$("select:last [value="+ event +"]").attr("selected",true);
				}
			});
			//页数
			var nowpage = {$page}?{$page}:1;
			var totalpage = 0;
			if('{$ordercount}' !=' '){
				//$(".pagination").html('没有查询到数据哦');
				totalpage = Math.ceil({$ordercount}/10);
			}
			$(".totalpage").text('总页数：'+totalpage+'页');
		
		//详情
		function orderdetail(id){
			var url = "__ROOT__/index.php/Order/orderdetail";
			window.location.href = url+'/id/'+id;
		}
		//翻页
		function turnpage(obj,page){
			var url = "__ROOT__/index.php/Order/orderlist";
			if(page == 0){
				page = nowpage+1;
				if(page > totalpage){
					alert('已经是最后一页');
					return false;
				}
			}
			if(page < 0){
				page = nowpage - 1;
				
				if(page < 1){
					alert('已经是第一页');
					return false;
				}
			}
			if(page == 1){
				page = $(".turninput").val();
				if(page > totalpage){
					alert('该页不存在');
					$(".turninput").val('');
					return false;
				}
			}
			//带条件翻页
			var sn = $("input[name=sn]").val()?$("input[name=sn]").val():'';
			var source_id = $("input[name=source_id]").val()?$("input[name=source_id]").val():'';
			var channel = '{$sqlmap.channel}'?'{$sqlmap.channel}':'';
			var event = '{$sqlmap.event}'?'{$sqlmap.event}':'';
			var startdate = $("input[name=startdate]").val()?$("input[name=startdate]").val():'';
			var enddate = $("input[name=enddate]").val()?$("input[name=enddate]").val():'';
			if(sn){
				url = url+'/sn/'+sn;
			}
			if(source_id){
				url = url+'/source-id/'+source_id;
			}
			if(channel){
				url = url+'/channel/'+channel;
			}
			if(event){
				url = url+'/event/'+event;
			}
			if(startdate){
				url = url+'/stardate/'+startdate;
			}
			if(enddate){
				url = url+'/enddate/'+enddate;
			}
			window.location.href = url+'/page/'+page;
		}
	</script>
</html>
