<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="//g.alicdn.com/sui/sui3/0.0.18/css/sui.min.css">
		<style type="text/css">
			form{width: 500px;margin: 0 auto;}
		</style>
	</head>

	<body>
		<ol class="breadcrumb">
		  <li><a href="#">首页</a></li>
		  <li><a href="#">商品</a></li>
		  <li class="active">编辑商品</li>
		</ol>
		
		<form data-toggle='validate' id="form" method="post" enctype="multipart/form-data">
			<input type="text" style="display: none;" class="id" value="{$goods.id}" />
		  	<div class="form-group">
			    <label for="code" class="control-label">商品编号</label>
			    <input type="text" class="form-control" id="code" name="code" value="{$goods.code}">
			</div>
			<div class="form-group">
			    <label for="name" class="control-label">商品名称</label>
			    <input type="text" class="form-control" id="name" name="name"  value="{$goods.name}" required>
			</div>
			<div class="form-group">
			    <label for="name" class="control-label">商品价格</label>
			    <input type="text" class="form-control" id="price" name="price"  value="{$goods.price}" required>
			</div>
		  	<div class="form-group" style="overflow: hidden;">
		    	<label for="file">商品图片</label>
		    	<br />
		    	<input type="file" id="pic" name="pic" value="{$goods.img_url}" style="display: none;" onchange="filenamechange()">
		    	<input type="text" id="url" class="form-control" style="width: 80%;float: left;" value="没有选择任何文件" />
		    	<a class="btn btn-default" style="float: right;" href="#" role="button" onclick="btnclick()">选择图片</a>
		  	</div>
		  	
		  	<div class="form-group">
				<label for="radio">类别</label>
				<br />
			  <label class="select">
			    <select class="form-control" id="category" name="category">
			    	<option value="-1">请选择</option>
			      	<option value="1">食品</option>
			      	<option value="2">服装</option>
			      	<option value="3">数码</option>
			      	<option value="4">生活</option>
			      	<option value="5">护肤</option>
			    </select>
			  </label>
			</div>
			<div class="form-group">
				<label for="checkbox1">多选</label>
				<br/>
				<label class="checkbox-inline">
				  <input type="checkbox" id="checkbox1" name="zhengce" value="包邮">包邮
				</label>
				<label class="checkbox-inline">
				  <input type="checkbox" id="checkbox2" name="zhengce" value="到付"> 到付
				</label>
				<label class="checkbox-inline">
				  <input type="checkbox" id="checkbox3" name="zhengce" value="退换"> 退换
				</label>
			</div>
			<div class="form-group">
				<label for="radio">通知方式</label>
				<br/>
				<label class="radio-inline">
				  <input type="radio" id="inlineRadio1" name="note" value="1"> 商家中心
				</label>
				<label class="radio-inline">
				  <input type="radio" id="inlineRadio2" name="note" value="2"> 旺旺弹窗
				</label>
				<label class="radio-inline">
				  <input type="radio" id="inlineRadio3" name="note" value="3"> 站内信
				</label>
			</div>
			<div class="control-group">
				<label class="control-label">详细描述：</label>
				<div class="controls">
					<textarea id="info" name="info" class="form-control" rows="3">{$goods.info}</textarea>
				</div>
			</div>
			<div class="control-group" style="text-align: center;margin-top: 30px;">
				<div class="controls">
					<button type="button" onclick="reg()" class="sui-btn btn-primary">增加信息</button>
					<button type="reset" class="sui-btn">重置</button>
				</div>
			</div>
		</form>
	</body>
	<script type="text/javascript" src="//g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="//g.alicdn.com/sui/sui3/0.0.18/js/sui.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/static/js/ajaxfileupload.js" ></script>
	<script type="text/javascript">
		var img_url = "{$goods.img_url}";
	    	//点击上传
			function btnclick(){
				$("#pic").click();
			}
			//文件名上传图片
			function filenamechange(){
				$("#url").val($("#pic").val());
		        $.ajaxFileUpload({
	                    url: '__ROOT__/index.php/Home/Shop/uploadpic', 
	                    secureuri: false, 
	                    fileElementId: 'pic', 
	                    dataType: 'json',
	                    success: function (data){
	                    	alert(data.msg);
	                    	//alert(data.id);
	                    	img_url = data.img_url;
	                    },
	                    error: function (data){
	                        alert('上传失败');
	                    }
		            }
	           	)
            	return false;
			}
			//提交
			function reg(){
				//验证
				var id = $(".id").val();
				var code = $("#code").val();
				var name = $("#name").val();
				var price = $("#price").val();
				
				var ids = $("input[type=checkbox]:checked");
				var checked = [];
				ids.each(function(){
					checked.push($(this).val());
				});
				
				//提交
//				if(code && name && price){
					$.post("__ROOT__/index.php/Home/Shop/edit",{
						'id'        : id,
						'img_url'   : img_url,
						'code' : code,
						'name' : name,
						'price' : price,
						'category' : $("#category").val(),
						'zhengce' : checked,
						'note'  :  $("input[type=radio]:checked").val(),
						'info' : $("#info").val()
					},function(data){
						
						alert(data.msg);
						if(data.status){
							window.location.reload();
						}
					},"json");
//				}
//				alert("请输入");
			}
			//回填
			$("#category").val("{$goods.category}");
			//复选
			var vals = '{$goods.zhengce}'.split(",");
			$.each(vals, function(index, val) { 
	            $("input[name='zhengce'][value="+val+"]").prop("checked",true); 
	
	       	});
	       	//
	       	var val = '{$goods.note}';
	       	
	        $("input[name='note'][value="+val+"]").attr("checked",true);
	       
	</script>
</html>